body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    z-index: 1;
    min-width: 100%;
    position: fixed;
    padding: 5px 0px;
    background-color: #FF6900;
}
/* UTILITY CLASS */

.container{
    max-width: 1200px;
    margin: auto;
}

.d-none{
    display:none;
}

.d-flex{
    flex-direction: row;
    display: flex;
}

/*  VARIABILI */
:root{
    --bg-discount:red;
    --bg-info-discount: green;
    --size-text-menu : 1.2rem;
    --color-text:#E7E6E5; 
    }




/* ////////////////////////////////// */
.container-header{
    align-items: center;
}
.filters a{
    font-size: var(--size-text-menu);
    padding: 3px;
    color: var(--color-text);
    text-decoration: none;
    vertical-align: middle;
}

.nav{
    justify-content: end;
    gap:0.5rem;
    align-items: center;
}

.nav a svg{
    color: #E7E6E5;
    padding: 2px;
    min-width: var(--size-text-menu)
}

.header-logo{
    justify-content: center;
}


.header-logo img{
    vertical-align: middle;
    max-width: calc(var(--size-text-menu) * 7);
}

.container-header div{
    padding: 10px 0px;
    flex-grow: 1;
    align-items: center;

}


/* ///////////// MAIN //////////////// */

.card{
    
    margin: 1rem 0rem;
    position: relative;
    background-color: #fff;
    flex-basis: calc((100% - 2rem )/  3);
    min-width: 320px;
}

.card img{
    max-width: 100%;
}

.contain-card{
    padding: 5rem 0rem;
    gap:  1rem;
    flex-wrap: wrap;
}

.card .brand{
    font-size: 0.8rem;
}

.contain-card .discount{
    position: absolute;
    left: 0;
    bottom: 5rem;
}

.discount span{
    padding: 0.3rem 0.5rem;
    color: #fff;
    display: inline-block;
    background-color: var(--bg-discount);
}


.discount .info{
    background-color: var(--bg-info-discount) ;
}

.card:hover .second-img{
    position: absolute;
    top:0;
    left: 0;
    display: block;
}

.card .discount-price{
    color: red;
}

.card .discount-price .true-price{
    color: black;
}

.like-element svg{
    max-width: 2rem;
    position: absolute;
    top:1rem;
    right: 1rem;
}

.like-element svg:hover{
    color: red;
}

/* /////////////////FOOTER//////////// */

footer{
    color: #fff;
    background-color: #4d4d4d;
}

.container-footer{
    padding: 1.5rem 0rem;
    justify-content: space-between;
}


.container-footer .license :first-child{
    display: block;
    font-size: 1.3rem;
}

.license a{
    padding: 0rem 0.3rem;
    line-height: 2rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    
}

.social a svg{
    color: #fff;
    width: 2rem;
    margin-top: 1rem;

}





